<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <!--<link rel="icon" type="image/png" href="/images/favicon.ico">-->
    <title>Jamaah - Muslim Future</title>

    <!-- Bootstrap core CSS     -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="/css/animate.min.css" rel="stylesheet" />    
    <!--  Taawun core CSS    -->
    <link href="/css/jamaah.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
</head>

<body>
    <div class="main-panel">        
        <%- include('partials/header') %>        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <a href="#">
                                <img class="media-object expand img-circle img-backer-big" src="/images/faces/face-3.jpg">
                            </a>
                        </div>
                        <div class="content">
                            <div class="media">
                                <div class="media-body text-center">
                                    <h2 class="media-heading text-success bold">Ustadz Abu Zubair Hawaary</h2>
                                    <h4 class="media-heading text-success bold">Agustimar Putra</h4>
                                    <p class="media-heading">Pengasuh Pondok Pesantren Ibu Katsir</p>
                                    <hr style="margin:8px auto">
                                    <p class="media-heading">Pekanbaru, Indonesia</p>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-success btn-fill">+ teman</button>
                                        <button type="submit" class="btn btn-success btn-fill">Facebook</button>
                                        <button type="submit" class="btn btn-success btn-fill">Email</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="content">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#created">Program</a></li>
                            <li><a data-toggle="tab" href="#backed">Donasi</a></li>
                            <li><a data-toggle="tab" href="#community">Komunitas</a></li>
                            <li><a data-toggle="tab" href="#friends">Sahabat</a></li>
                        </ul>
                        <div class="card">
                            <div class="tab-content content">
                                <div id="created" class="tab-pane fade in active">
                                    <h3>Investasi Akhirat!</h3>
                                    <p>Kabar gembira, untuk terwujudnya Islamic Center di kota Duri, Yayasan Baitul Huda membuka investasi akhirat buat kita semua.</p>
                                </div>
                                <div id="backed" class="tab-pane fade">
                                    <div class="row">
                                        <ul class="thumbnails list-unstyled">
                                            <li class="col-sm-4 col-xs-12">
                                                <div class="thumbnail" style="padding: 0">
                                                    <div>
                                                        <img alt="300x200" class="img-responsive" src="images/campaigns/baitul-huda-1.jpg">
                                                    </div>
                                                    <div class="caption">
                                                        <h5><strong>Pembebasan Lahan Baitul Huda</strong></h5>
                                                        <p class="p-smaller"> Kabar gembira, untuk terwujudnya Islamic Center di kota Duri, Yayasan Baitul Huda membuka investasi akhirat untuk kita semua.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="progress progress-smaller">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                                <br/><small>Duri, Riau</small></div>
                                                            <div class="col-xs-4">
                                                                <div class="row"><b>60%</b>
                                                                    <br/><small>Terpenuhi</small></div>
                                                            </div>
                                                            <div class="col-xs-4"><b>18</b>
                                                                <br/><small>Hari lagi</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-4 col-xs-12">
                                                <div class="thumbnail" style="padding: 0">
                                                    <div class="img-rectangle">
                                                        <img alt="300x200" class="img-responsive" src="/images/campaigns/pembangunan-kampung-sunnah.jpg">
                                                    </div>
                                                    <div class="caption">
                                                        <h5><strong>Pembangunan Kampung Sunnah Duri</strong></h5>
                                                        <p class="p-smaller"> Kampung sunnah, pusat kehidupan dengan lingkungan sunnah terintegrasi di Duri, Riau, sebagai Mandau Islamic Center 2020 insya Allah.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="progress progress-smaller">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">23% Complete</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-4"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                                <br/><small>Duri, Riau</small></div>
                                                            <div class="col-xs-4">
                                                                <div class="row"><b>60%</b>
                                                                    <br/><small>Terpenuhi</small></div>
                                                            </div>
                                                            <div class="col-xs-4"><b>218</b>
                                                                <br/><small>Hari lagi</small></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="community" class="tab-pane fade">
                                    <div class="row">
                                        <ul class="thumbnails list-unstyled">
                                            <li class="col-sm-6 col-xs-12">
                                                <div class="card content">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="img-square">
                                                                <img alt="300x300" class="img-responsive" src="/images/communities/Ibnu-Katsir.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <h5><strong>Ma'had Imam Ibnu Katsir</strong></h5>
                                                            <div><span class="glyphicon glyphicon-education"></span>
                                                                <small>Ustadz Abu Zubair</small></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 content">
                                                            <p class="p-smaller"> Pondok pesantren sunnah modern dengan lebih dari 300 santri dan 20 ustadz di kota Pekanbaru, Riau. Memiliki unit kegiatan islami lengkap seperti tahsin, tahfidz, bahasa arab, dauroh, tabligh
                                                                akbar, hingga kegiatan olahraga islami seperti memanah, berkuda, dan berenang.</p>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row">
                                                        <div class="col-xs-4"><span class="glyphicon glyphicon-map-marker"></span>
                                                            <small>Pekanbaru, Riau</small></div>
                                                        <div class="col-xs-4"><span class="glyphicon glyphicon-user"></span>
                                                            <small>327 orang</small></div>
                                                        <div class="col-xs-4"><span class="glyphicon glyphicon-briefcase"></span>
                                                            <small>7 proyek</small></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-sm-6 col-xs-12">
                                                <div class="card content">
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <div class="img-square">
                                                                <img alt="300x300" class="img-responsive" src="/images/communities/Baitul-Huda.png">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <h5><strong>Yayasan Baitul Huda Duri</strong></h5>
                                                            <div><span class="glyphicon glyphicon-education"></span>
                                                                <small>Ustadz Maududi Abdullah Lc</small></div>
                                                            <div><span class="glyphicon glyphicon-education"></span>
                                                                <small>Ustadz Sulaiman Abu Hani</small></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 content">
                                                            <p class="p-smaller"> Komunitas ahlussunnah wal jamaah di kota Duri, Riau. Memiliki sekolah dasar islam terpadu Al Huda serta agenda mingguan seperti kajian rutin, tahsin, tahfidz, dauroh, tabligh akbar dan sebagainya.
                                                                </p>
                                                        </div>
                                                    </div>
                                                    <hr/>
                                                    <div class="row">
                                                        <div class="col-xs-4"><span class="glyphicon glyphicon-map-marker"></span>
                                                            <small>Duri, Riau</small></div>
                                                        <div class="col-xs-4"><span class="glyphicon glyphicon-user"></span>
                                                            <small>113 orang</small></div>
                                                        <div class="col-xs-4"><span class="glyphicon glyphicon-briefcase"></span>
                                                            <small>3 proyek</small></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="friends" class="tab-pane fade">
                                    <div class="content">
                                        <div class="media">
                                            <div class="thumbnail-user pull-left">
                                                <div class="media">
                                                    <a href="/profile">
                                                        <img class="media-object expand-disabled img-circle img-backer-sm" src="/images/faces/face-3.jpg">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-heading font-backer">Abu Zahra</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-user pull-left">
                                                <div class="media">
                                                    <a href="/profile">
                                                        <img class="media-object expand-disabled img-circle img-backer-sm" src="/images/faces/face-3.jpg">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-heading font-backer">Abu Nabil</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-user pull-left">
                                                <div class="media">
                                                    <a href="/profile">
                                                        <img class="media-object expand-disabled img-circle img-backer-sm" src="/images/faces/face-3.jpg">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-heading font-backer">Ummu Hanif</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="thumbnail-user pull-left">
                                                <div class="media">
                                                    <a href="/profile">
                                                        <img class="media-object expand-disabled img-circle img-backer-sm" src="/images/faces/face-3.jpg">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="media-heading font-backer">Abu Fikri</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                                Home
                            </a>
                    </li>
                    <li>
                        <a href="#">
                                Campaign
                            </a>
                    </li>
                    <li>
                        <a href="#">
                                Investment
                            </a>
                    </li>
                    <li>
                        <a href="#">
                               Forums
                            </a>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                &copy; 2016 <a href="http://www.creative-tim.com">Taawun</a>
            </p>
        </div>
    </footer>
</body>
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/taawun.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.notify({
            icon: 'glyphicon glyphicon-heart',
            message: '<p class="text-right"> <b>Abu Fikri</b> melakukan donasi untuk Pembebasan Lahan Baitul Huda.</p>'
        }, {
            type: 'success',
            timer: 2000,
            placement: {
                from: "bottom",
                align: "right"
            },
        });

    });

    $(function() { /* to make sure the script runs after page load */
        $('.p-smaller').each(function(event) { /* select all divs with the item class */
            var max_length = 150; /* set the max content length before a read more link will be added */
            if ($(this).html().length > max_length) { /* check for content length */
                var short_content = $(this).html().substr(0, max_length); /* split the content in two parts */
                var long_content = $(this).html().substr(max_length);

                $(this).html(short_content +
                    '<a href="#" class="read_more"> ...Read More</a>' +
                    '<span class="more_text" style="display:none;">' + long_content + '</span>'); /* Alter the html to allow the read more functionality */

                $(this).find('a.read_more').click(function(event) { /* find the a.read_more in the new html and bind the following code to it */
                    event.preventDefault(); /* prevent the a from changing the url */
                    $(this).hide(); /* hide the read more button */
                    $(this).parents('.p-smaller').find('.more_text').show(); /* show the .more_text span */
                });
            }
        });
    });
</script>

</html>